body {
  text-align: center;
  color: whitesmoke;
  background-color: cornflowerblue;

}

.App-link {
  color: #61dafb;
}

DIV.table 
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td, SPAN.th
{
    display:table-cell;
    text-align: center;
}

h3 {
  color: navy;
  text-align: center;
}

table {
  text-align: center;

}

td {
  text-align: center;
  color: wheat;
  width: 200px
}

.table {
  width: 70%;
  margin-left: 2%;
  margin-right: 2%;
  color: wheat

}

.rides {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  float: right;
  color: navy;

  text-align: center;
}

.todays-rides {
  text-align: center;
  color: wheat;

}

.horses {
  width: 20%;
  margin: 5%;
  padding: 2%;
}

.container {
  display: flex;
}

.horses-form {
  width: 70%;
  margin: 2%;
  float: right;
  /* border: 2px solid black; */
  text-align: center;
  padding-bottom: 2%;
}

.options {
  padding: 2%;
  width: 20%;
  margin: 2%;
}

.options-form {
  width: 70%;
  margin: 2%;
  float: right;
  text-align: center;
}

Button {
  margin-right: 10px;
}

.nav {
  color: black;
}